body {
    background: #000;
}

#container {
    width: 70vw;
    height: 60vh;
    margin: 10vh auto;
}

h1 {
    text-align: center;
    color: #fff;
}

#alltasks {
    border: none;
    width: 50vw;
    height: 50vh;
    margin: 0px auto;
    background: #000;
}

.col {
    float: left;
    width: 50%;
}

#addtask {
    background-color: red;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}

#addcategory {
    float: right;
    margin-bottom: 5px;
    background-color: #007fff;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}

#categories {
    background: #000;
    border: none;
}

ol li {
    /* border: 1px dotted black; */
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    color: red;
    background: #000;
}

ol li:hover {
    background: #ccc;
}

.done {
    color: #007fff;
}

#newcategory {
    display: none;
}

#newtask {
    display: none;
}